Repository compnerd/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/android-sdk-5.2.yml, .ci/android-sdk-deb.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/curl.yml, .ci/icu-deb.yml, .ci/icu.yml, .ci/libxml2.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/linux-sdk-deb.yml, .ci/linux-sdk.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64-deb.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-deb.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml, .ci/zlib.yml

.ci/android-sdk-5.2.yml:
  schedules:
  - cron: 0 23 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (11:00 PM) build
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 36
      arch: armv7
      host: arm
  ...

.ci/android-sdk-deb.yml:
  jobs:
  - job: android_aarch64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/sdk/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/android-sdk.yml:
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 7
      arch: armv7
      host: arm
      triple: armv7-unknown-linux-androideabi
  - template: templates/android-sdk.yml
    parameters:
  ...

.ci/azure-pipelines-aws-agent.yml:
  name: toolchain
  jobs:
  - job: windows_x64
    pool: Default
    variables:
      arch: x86_64
      host: x64
      platform: windows
      triple: x86_64-unknown-windows-msvc
      install.directory: $(Build.StagingDirectory)/Library/Developer/Toolchains/unknown-Asserts-development.xctoolchain/usr
  ...

.ci/curl.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/curl.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/icu-deb.yml:
  jobs:
  - job: linux_x64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/icu/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/icu.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/icu.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/libxml2.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/libxml2.yml
    parameters:
      visualstudio: 2019/enterprise
      pool:
        vmimage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      arch: x86_64
      host: x64
      platform: linux

Linux: convert devtools to stage
  .ci/toolchain-linux-x64.yml
Due: .ci/toolchain-linux-x64.yml

Linux: convert template to job template
  .ci/linux-sdk.yml
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

Linux: remove unnecessary step
  .ci/linux-devtools.yml
Due: .ci/linux-devtools.yml

Linux: convert SDK to stage
  .ci/toolchain-linux-x64.yml
Due: .ci/toolchain-linux-x64.yml

Linux: correct path for published artifacts
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

Linux: convert toolchain to pipeline download
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

Linux: convert sdk to repository resources
  .ci/templates/linux-sdk.yml
  .ci/toolchain-linux-x64.yml
Due: .ci/linux-sdk.yml, .ci/toolchain-linux-x64.yml

Linux: build in the BinariesDirectory
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

Linux: convert dependencies to pipeline downloads
  .ci/templates/linux-sdk.yml
  .ci/toolchain-linux-x64.yml
Due: .ci/linux-sdk.yml, .ci/toolchain-linux-x64.yml

Linux: add publish stage
  .ci/templates/linux-sdk.yml
  .ci/toolchain-linux-x64.yml
Due: .ci/linux-sdk.yml, .ci/toolchain-linux-x64.yml

Linux: use publish task
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

stable: convert VS2019 to multi-stage
  .ci/stable-windows-toolchain-vs2019.yml
Due: none

5.2: move SDKs to stages
  .ci/vs2019-swift-5.2.yml
Due: none

windows: convert checkout to checkout task
  .ci/templates/windows-sdk.yml
  .ci/windows-sdk-5.2.yml
  .ci/windows-sdk-facebook-vs2017.yml
  .ci/windows-sdk-facebook-vs2019.yml
  .ci/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Facebook: collapse Facebook jobs into stages
  .ci/toolchain-vs2017-amd64-facebook.yml
  .ci/toolchain-vs2019-amd64-facebook.yml
Due: .ci/toolchain-vs2017-amd64-facebook.yml

add packaging stage to VS2017, VS2019
  .ci/templates/toolchain-msi.yml
  .ci/toolchain-msi.yml
  .ci/toolchain-vs2019-amd64-msi.yml
  .ci/vs2017.yml
  .ci/vs2019.yml
  wix/windows-toolchain.wixproj
Due: none

linux: add packaging stage
  .ci/icu-deb.yml
  .ci/linux-devtools-deb.yml
  .ci/linux-sdk-deb.yml
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/toolchain-deb.yml
  .ci/toolchain-linux-x64.yml
Due: .ci/icu-deb.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/linux-sdk-deb.yml, .ci/toolchain-linux-x64.yml

Revert "toolchain: change build directory **NO_CI**"
  .ci/templates/toolchain.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml

toolchain: refactor, simplify, fix LLDB installation, libedit handling
  .ci/templates/toolchain.yml
  .ci/templates/xctoolchain.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
  cmake/caches/org.compnerd.dt.cmake
Due: .ci/azure-pipelines-aws-agent.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml

SDK: convert to pipeline artifacts
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/linux-sdk.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

SDK: use parameters.os
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/linux-sdk.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

SDK: explicitly list template parameters
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/linux-sdk.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

SDK: reflow CMake arguments
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/linux-sdk.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

SDK: make less dense, more readable
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/linux-sdk.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

toolchain: make some parameters required
  .ci/templates/toolchain.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml

CI: add missing parameters
  .ci/vs2017-facebook.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: none

SDK: hoist ICU options
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/linux-sdk.yml

devtools: make less dense, build in BinariesDirectory
  .ci/templates/linux-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/linux-devtools.yml, .ci/windows-devtools.yml

windows: condense compiler caches
  .ci/templates/curl.yml
  .ci/templates/icu.yml
  .ci/templates/libxml2.yml
  .ci/templates/sqlite3.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/templates/zlib.yml
  cmake/caches/windows-aarch64-clang.cmake
  cmake/caches/windows-aarch64.cmake
  cmake/caches/windows-armv7-clang.cmake
  cmake/caches/windows-armv7.cmake
  cmake/caches/windows-i686-clang.cmake
  cmake/caches/windows-i686.cmake
  cmake/caches/windows-x86_64-clang.cmake
  cmake/caches/windows-x86_64.cmake
Due: .ci/azure-pipelines-aws-agent.yml, .ci/curl.yml, .ci/icu.yml, .ci/libxml2.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml, .ci/zlib.yml

xctoolchain: provide a pkg as well
  .ci/templates/xctoolchain.yml
Due: none

caches: attempt to use `ANDROID_NDK_HOME`
  cmake/caches/android-aarch64.cmake
  cmake/caches/android-armv7.cmake
  cmake/caches/android-i686.cmake
  cmake/caches/android-x86_64.cmake
  cmake/caches/swift-stdlib-android-aarch64.cmake
  cmake/caches/swift-stdlib-android-armv7.cmake
  cmake/caches/swift-stdlib-android-i686.cmake
  cmake/caches/swift-stdlib-android-x86_64.cmake
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml

macOS: attempt to build the standard library
  .ci/macOS.yml
  .ci/templates/macos-sdk.yml
  .ci/templates/toolchain.yml
  cmake/caches/org.compnerd.dt.cmake
  cmake/caches/swift-stdlib-darwin-x86_64.cmake
Due: .ci/azure-pipelines-aws-agent.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml

CI: update LLDB configuration for merge
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: none

Update windows-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Cache CMAKE_Swift_LINK_LIBRARY_FLAG
  cmake/caches/windows-x86_64-swift-flags.cmake
Due: none

[CURL] correct zlib path
  .ci/templates/curl.yml
Due: .ci/curl.yml

Publish non-test SDK components on Windows
  .ci/templates/windows-sdk.yml
  cmake/caches/windows-x86_64-swift-flags.cmake
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

windows: build t-s-c
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Match the repository usage in both stages of the build.
  .ci/templates/toolchain.yml
  .ci/templates/windows-sdk.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

sdk: workaround for Foundation crashes, pass -enable-spec-devirt to frontend
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Path conditions:
  .ci/android-sdk-5.2.yml: any of: .ci/android-sdk-5.2.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/android-sdk-deb.yml: any of: .ci/android-sdk-deb.yml
  .ci/android-sdk.yml: any of: .ci/android-sdk.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/azure-pipelines-aws-agent.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/curl.yml: any of: .ci/curl.yml, .ci/templates/curl.yml
  .ci/icu-deb.yml: any of: .ci/icu-deb.yml
  .ci/icu.yml: any of: .ci/icu.yml, .ci/templates/icu.yml
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools-deb.yml: any of: .ci/linux-devtools-deb.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk-deb.yml: any of: .ci/linux-sdk-deb.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/toolchain-darwin-x64.yml: any of: .ci/toolchain-darwin-x64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-linux-x64-deb.yml: any of: .ci/toolchain-linux-x64-deb.yml
  .ci/toolchain-linux-x64.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/toolchain-vs2017-amd64-5.2.yml: any of: .ci/toolchain-vs2017-amd64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2017-amd64-facebook.yml: any of: .ci/toolchain-vs2017-amd64-facebook.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64.yml: any of: .ci/toolchain-vs2019-amd64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64-5.2.yml: any of: .ci/toolchain-vs2019-arm64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64.yml: any of: .ci/toolchain-vs2019-arm64.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk-5.2.yml: any of: .ci/windows-sdk-5.2.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-deb.yml: any of: .ci/windows-sdk-deb.yml
  .ci/windows-sdk-facebook-vs2017.yml: any of: .ci/windows-sdk-facebook-vs2017.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2019.yml: any of: .ci/windows-sdk-facebook-vs2019.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml, cmake/caches/Windows-aarch64-clang.cmake, cmake/caches/Windows-aarch64-swift-flags.cmake, cmake/caches/Windows-armv7-clang.cmake, cmake/caches/Windows-armv7-swift-flags.cmake, cmake/caches/Windows-i686-clang.cmake, cmake/caches/Windows-i686-swift-flags.cmake, cmake/caches/Windows-x86_64-clang.cmake, cmake/caches/Windows-x86_64-swift-flags.cmake
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml
