Repository compnerd/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/android-sdk-5.2.yml, .ci/android-sdk-deb.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/curl.yml, .ci/icu-deb.yml, .ci/icu.yml, .ci/libxml2.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/linux-sdk-deb.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/tensorflow.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64-deb.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-deb.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml, .ci/zlib.yml

.ci/android-sdk-5.2.yml:
  schedules:
  - cron: 0 23 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (11:00 PM) build
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 36
      arch: armv7
      host: arm
  ...

.ci/android-sdk-deb.yml:
  jobs:
  - job: android_aarch64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/sdk/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/android-sdk.yml:
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 7
      arch: armv7
      host: arm
      triple: armv7-unknown-linux-androideabi
  - template: templates/android-sdk.yml
    parameters:
  ...

.ci/azure-pipelines-aws-agent.yml:
  name: toolchain
  jobs:
  - job: windows_x64
    pool: Default
    variables:
      arch: x86_64
      host: x64
      platform: windows
      triple: x86_64-unknown-windows-msvc
      install.directory: $(Build.StagingDirectory)/Library/Developer/Toolchains/unknown-Asserts-development.xctoolchain/usr
  ...

.ci/curl.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/curl.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/icu-deb.yml:
  jobs:
  - job: linux_x64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/icu/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/icu.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/icu.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/libxml2.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/libxml2.yml
    parameters:
      visualstudio: 2019/enterprise
      pool:
        vmimage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      arch: x86_64
      host: x64
      platform: linux

toolchain: sync android.toolchain.cmake
  cmake/toolchains/android.toolchain.cmake
Due: none

5.3: disable XML2 on Windows aarch64 toolchain
  .ci/vs2019-swift-5.3.yml
Due: none

Update vs2019-swift-5.3.yml
  .ci/vs2019-swift-5.3.yml
Due: none

swift-log: attempt to test variable refs
  swift-log.yml
Due: none

Fix link to toolchain in GettingStartedWindows.
  docs/GettingStartedWindows.md
Due: none

toolchain: try cloning with depth 1 for builds
  .ci/templates/toolchain.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

Update Windows docs to use the system drive to avoid compile failures
  docs/GettingStartedWindows.md
Due: none

Set up CI with Azure Pipelines
  swift-numerics.yml
Due: none

Update swift-numerics.yml
  swift-numerics.yml
Due: none

CI: re-enable TSC build on Windows
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update tensorflow.yml for Azure Pipelines
  .ci/tensorflow.yml
Due: .ci/tensorflow.yml

Update tensorflow.yml
  .ci/tensorflow.yml
Due: .ci/tensorflow.yml

Adopt renamed CURL CMake option
  cmake/caches/curl-windows.cmake
Due: none

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update toolchain.yml
  .ci/templates/toolchain.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

CI: add Yams to the windows devtools
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: repair the Linux devtools
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

devtools: attempt to explicitly indicate shared libraries
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: continue on error when rebuilding foundation for testing
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Set up CI with Azure Pipelines
  Yams.yml
Due: none

Update Yams.yml
  Yams.yml
Due: none

CI: add swift-driver to the devtools build
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Set up CI with Azure Pipelines [skip ci]
  .ci/templates/windows-devtools.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml, .ci/windows-devtools.yml

toolchain: repair Windows ARM64 cross-compile [NO_CI]
  .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.3.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

CI: start installing devtools for Windows
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: checkout swift-argument-parser
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-google.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/macOS.yml, .ci/vs2017-facebook.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

CI: add the swift-argument-parser to the checkout
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/icu-msi.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/tensorflow-msi.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain-msi.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: add swift-argument-parser to the devtools build
  .ci/templates/linux-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/linux-devtools.yml, .ci/windows-devtools.yml

devtools: attempt to adjust flags for self-hosting s-p-m
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: attempt to use Xcode 12 beta if available
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/templates/macos-sdk.yml
Due: .ci/macOS.yml

CI: add a scheduled build
  .ci/vs2019-devtools.yml
Due: none

Update swift-installer-bundle.yml
  .ci/templates/swift-installer-bundle.yml
Due: none

CI: remove hardcoded python handling
  .ci/templates/toolchain.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

Remove swift-driver from Windows builds
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Use Python 3 instead of 2
  .ci/templates/android-sdk.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Path conditions:
  .ci/android-sdk-5.2.yml: any of: .ci/android-sdk-5.2.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/android-sdk-deb.yml: any of: .ci/android-sdk-deb.yml
  .ci/android-sdk.yml: any of: .ci/android-sdk.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/azure-pipelines-aws-agent.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/curl.yml: any of: .ci/curl.yml, .ci/templates/curl.yml
  .ci/icu-deb.yml: any of: .ci/icu-deb.yml
  .ci/icu.yml: any of: .ci/icu.yml, .ci/templates/icu.yml
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools-deb.yml: any of: .ci/linux-devtools-deb.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk-deb.yml: any of: .ci/linux-sdk-deb.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-darwin-x64.yml: any of: .ci/toolchain-darwin-x64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-linux-x64-deb.yml: any of: .ci/toolchain-linux-x64-deb.yml
  .ci/toolchain-linux-x64.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/toolchain-vs2017-amd64-5.2.yml: any of: .ci/toolchain-vs2017-amd64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2017-amd64-facebook.yml: any of: .ci/toolchain-vs2017-amd64-facebook.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64.yml: any of: .ci/toolchain-vs2019-amd64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64-5.2.yml: any of: .ci/toolchain-vs2019-arm64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64.yml: any of: .ci/toolchain-vs2019-arm64.yml, .ci/templates/toolchain.yml
  .ci/vs2017-facebook.yml: any of: .ci/vs2017-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-facebook.yml: any of: .ci/vs2019-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk-5.2.yml: any of: .ci/windows-sdk-5.2.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-deb.yml: any of: .ci/windows-sdk-deb.yml
  .ci/windows-sdk-facebook-vs2017.yml: any of: .ci/windows-sdk-facebook-vs2017.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2019.yml: any of: .ci/windows-sdk-facebook-vs2019.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml, cmake/caches/Windows-aarch64-clang.cmake, cmake/caches/Windows-aarch64-swift-flags.cmake, cmake/caches/Windows-armv7-clang.cmake, cmake/caches/Windows-armv7-swift-flags.cmake, cmake/caches/Windows-i686-clang.cmake, cmake/caches/Windows-i686-swift-flags.cmake, cmake/caches/Windows-x86_64-clang.cmake, cmake/caches/Windows-x86_64-swift-flags.cmake
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml
