Repository compnerd/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/icu-deb.yml, .ci/icu.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Path conditions:
  .ci/android-sdk-5.2.yml: any of: .ci/android-sdk-5.2.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/android-sdk.yml: any of: .ci/android-sdk.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/azure-pipelines-aws-agent.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/icu-deb.yml: any of: .ci/icu-deb.yml
  .ci/icu.yml: any of: .ci/icu.yml, .ci/templates/icu.yml
  .ci/linux-devtools-deb.yml: any of: .ci/linux-devtools-deb.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/toolchain-darwin-x64.yml: any of: .ci/toolchain-darwin-x64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2017-amd64-facebook.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64.yml: any of: .ci/toolchain-vs2019-amd64.yml
  .ci/toolchain-vs2019-arm64.yml: any of: .ci/toolchain-vs2019-arm64.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk-5.2.yml: any of: .ci/windows-sdk-5.2.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2017.yml: any of: .ci/windows-sdk-facebook-vs2017.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2019.yml: any of: .ci/windows-sdk-facebook.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml, cmake/caches/Windows-aarch64-clang.cmake, cmake/caches/Windows-aarch64-swift-flags.cmake, cmake/caches/Windows-armv7-clang.cmake, cmake/caches/Windows-armv7-swift-flags.cmake, cmake/caches/Windows-i686-clang.cmake, cmake/caches/Windows-i686-swift-flags.cmake, cmake/caches/Windows-x86_64-clang.cmake, cmake/caches/Windows-x86_64-swift-flags.cmake

Update toolchain-linux-x64-deb.yml for Azure Pipelines
  .ci/toolchain-linux-x64-deb.yml
Due: none

toolchain: alter control
  .ci/toolchain-linux-x64-deb.yml
  debian/control
Due: none

sdk: correct control files
  .ci/android-sdk-deb.yml
  .ci/linux-sdk-deb.yml
  .ci/windows-sdk-deb.yml
  debian/android-sdk
  debian/linux-sdk
  debian/windows-sdk
Due: none

Update linux-sdk-deb.yml for Azure Pipelines
  .ci/linux-sdk-deb.yml
Due: none

Update android-sdk-deb.yml for Azure Pipelines
  .ci/android-sdk-deb.yml
Due: none

Update icu-deb.yml for Azure Pipelines
  .ci/icu-deb.yml
Due: .ci/icu-deb.yml

Update linux-devtools-deb.yml for Azure Pipelines
  .ci/linux-devtools-deb.yml
Due: .ci/linux-devtools-deb.yml

Update windows-sdk-deb.yml for Azure Pipelines
  .ci/windows-sdk-deb.yml
Due: none

docker: use ubuntu repository
  docker/Ubuntu-18.04/Dockerfile
Due: none

docker: use fury.io instead of bintray
  docker/Ubuntu-18.04/Dockerfile
Due: none

devtools: templatize the Windows devtools build
  .ci/templates/windows-devtools.yml
  .ci/windows-devtools.yml
  cmake/caches/Windows-x86_64-clang.cmake
Due: .ci/windows-devtools.yml, .ci/windows-sdk.yml

devtools: switch entirely to pipeline triggers
  .ci/linux-devtools.yml
Due: .ci/linux-devtools.yml

dependencies: template most dependencies, move to Azure
  .ci/curl.yml
  .ci/libxml2.yml
  .ci/sqlite3.yml
  .ci/templates/curl.yml
  .ci/templates/libxml2.yml
  .ci/templates/sqlite3.yml
  .ci/templates/zlib.yml
  .ci/zlib.yml
Due: none

sqlite: bump 3.30.1
  .ci/linux-devtools.yml
  .ci/templates/sqlite3.yml
  .ci/templates/windows-devtools.yml
Due: .ci/linux-devtools.yml, .ci/windows-devtools.yml

zlib, curl: improvements
  .ci/linux-sdk.yml
  .ci/templates/curl.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
  .ci/templates/zlib.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

sqlite: improvements
  .ci/linux-devtools.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/sqlite3.yml
  .ci/templates/windows-devtools.yml
Due: .ci/linux-devtools.yml, .ci/windows-devtools.yml

xml2: improvements
  .ci/linux-sdk.yml
  .ci/templates/android-sdk.yml
  .ci/templates/libxml2.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

ICU: templateize the ICU build
  .ci/icu.yml
  .ci/templates/icu.yml
Due: .ci/icu.yml

zlib: use multi-repository checkout
  .ci/templates/zlib.yml
  .ci/zlib.yml
Due: none

curl: use multi-repository checkout
  .ci/curl.yml
  .ci/templates/curl.yml
Due: none

xml2: use multi-repository checkout
  .ci/libxml2.yml
  .ci/templates/libxml2.yml
Due: none

icu: use multi-repository checkout
  .ci/icu.yml
  .ci/templates/icu.yml
Due: .ci/icu.yml

toolchain: template and homogenise
  .ci/linux-devtools.yml
  .ci/linux-sdk.yml
  .ci/templates/android-sdk.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/toolchain-darwin-x64.yml
  .ci/toolchain-linux-x64.yml
  .ci/toolchain-vs2017-amd64-5.2.yml
  .ci/toolchain-vs2017-amd64-facebook.yml
  .ci/toolchain-vs2017-amd64.yml
  .ci/toolchain-vs2019-amd64-5.2.yml
  .ci/toolchain-vs2019-amd64-facebook.yml
  .ci/toolchain-vs2019-amd64.yml
  .ci/toolchain-vs2019-arm64-5.2.yml
  .ci/toolchain-vs2019-arm64.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/linux-devtools.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

[FB] Spread out builds. Move Build Completion trigger to YAML.
  .ci/toolchain-vs2017-amd64-facebook.yml
  .ci/toolchain-vs2019-amd64-facebook.yml
  .ci/windows-sdk-facebook-vs2017.yml
  .ci/windows-sdk-facebook-vs2019.yml
Due: .ci/windows-sdk-facebook-vs2017.yml

deb: fix up toolchain deb
  .ci/toolchain-linux-x64-deb.yml
Due: none

sdk: fix toolchain image
  .ci/templates/android-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml

docs: write a getting started guide
  README.md
  images/GettingStarted/always-configure.png
  images/GettingStarted/configure-this-project.png
  images/GettingStarted/files.png
  images/GettingStarted/hello-world.png
  images/GettingStarted/open.png
  images/GettingStarted/open2.png
  images/GettingStarted/select-kit.png
  images/GettingStarted/toolbar.png
Due: none

caches: build/install lldb-argdumper
  cmake/caches/org.compnerd.dt.cmake
Due: none

Update toolchain.yml
  .ci/templates/toolchain.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-vs2017-amd64-facebook.yml

android: switch to repository resources
  .ci/android-sdk-5.2.yml
  .ci/android-sdk.yml
  .ci/templates/android-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml

CI: custom stages for Linux build
  .ci/toolchain-linux-x64.yml
Due: none

CI: normalise Linux SDK
  .ci/templates/linux-sdk.yml
Due: none

Linux: normalise devtools template
  .ci/linux-devtools.yml
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

Linux: adjust triggering paths
  .ci/toolchain-linux-x64.yml
Due: none
