Repository compnerd/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/android-sdk-5.2.yml, .ci/android-sdk-deb.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/curl.yml, .ci/icu-deb.yml, .ci/icu.yml, .ci/libxml2.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/linux-sdk-deb.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/tensorflow.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64-deb.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-deb.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/android-sdk-5.2.yml: any of: .ci/android-sdk-5.2.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/android-sdk-deb.yml: any of: .ci/android-sdk-deb.yml
  .ci/android-sdk.yml: any of: .ci/android-sdk.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/azure-pipelines-aws-agent.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/curl.yml: any of: .ci/curl.yml, .ci/templates/curl.yml
  .ci/icu-deb.yml: any of: .ci/icu-deb.yml
  .ci/icu.yml: any of: .ci/icu.yml, .ci/templates/icu.yml
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools-deb.yml: any of: .ci/linux-devtools-deb.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk-deb.yml: any of: .ci/linux-sdk-deb.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-darwin-x64.yml: any of: .ci/toolchain-darwin-x64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-linux-x64-deb.yml: any of: .ci/toolchain-linux-x64-deb.yml
  .ci/toolchain-linux-x64.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/toolchain-vs2017-amd64-5.2.yml: any of: .ci/toolchain-vs2017-amd64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2017-amd64-facebook.yml: any of: .ci/toolchain-vs2017-amd64-facebook.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64.yml: any of: .ci/toolchain-vs2019-amd64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64-5.2.yml: any of: .ci/toolchain-vs2019-arm64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64.yml: any of: .ci/toolchain-vs2019-arm64.yml, .ci/templates/toolchain.yml
  .ci/vs2017-facebook.yml: any of: .ci/vs2017-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk-5.2.yml: any of: .ci/windows-sdk-5.2.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-deb.yml: any of: .ci/windows-sdk-deb.yml
  .ci/windows-sdk-facebook-vs2017.yml: any of: .ci/windows-sdk-facebook-vs2017.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2019.yml: any of: .ci/windows-sdk-facebook-vs2019.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml, cmake/caches/Windows-aarch64-clang.cmake, cmake/caches/Windows-aarch64-swift-flags.cmake, cmake/caches/Windows-armv7-clang.cmake, cmake/caches/Windows-armv7-swift-flags.cmake, cmake/caches/Windows-i686-clang.cmake, cmake/caches/Windows-i686-swift-flags.cmake, cmake/caches/Windows-x86_64-clang.cmake, cmake/caches/Windows-x86_64-swift-flags.cmake
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

Update curl.cmake
  .ci/templates/curl.yml
  cmake/caches/curl-android.cmake
  cmake/caches/curl-linux.cmake
  cmake/caches/curl-windows.cmake
  cmake/caches/curl.cmake
Due: .ci/curl.yml

CI: synchronize the checkout for the SDK
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

Installer: create installer for swift 5.2
  .ci/vs2019-swift-5.2.yml
Due: .ci/vs2019-swift-5.2.yml

CI: setup swift-argument-parser
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/templates/android-sdk.yml
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/icu-msi.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/tensorflow-msi.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain-msi.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

link to https://compnerd.visualstudio.com/swift-build instead of https://dev.azure.com/compnerd/windows-swift
  docs/Windows.md
Due: none

updated instructions to get the installers; using VS 2019 as default
  docs/Windows.md
Due: none

updated instructions in "Building Swift Code"
  docs/Windows.md
Due: none

recommend CMake 3.16+
  docs/Windows.md
Due: none

Windows.md: INSTALLATION_DIR=C:
  docs/Windows.md
Due: none

Windows.md: added "...better use a tool where you can define each argument to cmake separately"
  docs/Windows.md
Due: none

Windows.md: changed last addition to "...better use a tool where you can define each argument to cmake separately and then put the paths inside the CMAKE_Swift_FLAGS argument in quotes"
  docs/Windows.md
Due: none

Windows.md: added "...instead of the outer quotes"
  docs/Windows.md
Due: none

Windows.md: added "...each path...", not "...the paths..."
  docs/Windows.md
Due: none

Windows.md: after some testing: to say those variables should not contain spaces is (sadly) OK right now
  docs/Windows.md
Due: none

caches: add `lldb-python-scripts`
  cmake/caches/org.compnerd.dt.cmake
  cmake/caches/windows-aarch64.cmake
Due: .ci/toolchain-linux-x64.yml

Use correct property name in PATH setter
  wix/windows-runtime.wxs
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml

Revert "Use correct property name in PATH setter"
  wix/windows-runtime.wxs
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml

install: prefix paths with the volume
  wix/windows-icu.wxs
  wix/windows-runtime.wxs
  wix/windows-tensorflow.wxs
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml

installer: add LLDB python scripts to installer
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml

Add windows-runtime-msm project
  wix/windows-runtime-msm.wixproj
  wix/windows-runtime-msm.wxs
  wix/windows-runtime.wxs
Due: none

Add windows-icu-msm project
  wix/windows-icu-msm.wixproj
  wix/windows-icu-msm.wxs
Due: none

Remove duplicated environment tag
  wix/windows-icu.wxs
Due: none

Add code-signing targets
  wix/targets/CodeSigning.Tasks.targets
  wix/targets/CodeSigning.props
  wix/targets/CodeSigning.targets
Due: none

Import code-signing props/targets
  wix/windows-bundle.wixproj
  wix/windows-icu.wixproj
  wix/windows-runtime.wixproj
  wix/windows-sdk.wixproj
  wix/windows-tensorflow.wixproj
  wix/windows-toolchain.wixproj
Due: .ci/toolchain-vs2019-amd64-msi.yml

CI: attempt to repair macOS build
  cmake/caches/darwin-x86_64.cmake
Due: none

CI: attempt to disable lldb-python-scripts on 5.2
  .ci/templates/toolchain.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2019-swift-5.2.yml
  cmake/caches/toolchain-5.2.cmake
  cmake/caches/toolchain-master.cmake
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

5.2: repair the installer generation
  .ci/templates/toolchain-msi.yml
  .ci/vs2019-swift-5.2.yml
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml, .ci/vs2019-swift-5.2.yml

Replace runtime and icu MSIs with MSMs
  wix/windows-icu-msm.wixproj
  wix/windows-icu-msm.wxs
  wix/windows-icu.wixproj
  wix/windows-icu.wxs
  wix/windows-runtime-msm.wixproj
  wix/windows-runtime-msm.wxs
  wix/windows-runtime.wixproj
  wix/windows-runtime.wxs
Due: none

Add wixproj to create final MSI
  wix/windows-installer.wixproj
  wix/windows-installer.wxs
Due: none

Remove bundle wixproj
  wix/windows-bundle.wixproj
  wix/windows-bundle.wxs
Due: none

Convert windows-sdk to MSM
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
Due: none

Add windows-sdk to windows-installer
  wix/windows-installer.wixproj
  wix/windows-installer.wxs
Due: none

Convert windows-toolchain to MSM
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml

Add toolchain MSM to installer
  wix/windows-installer.wixproj
  wix/windows-installer.wxs
Due: none

Convert windows-tensorflow to MSM
  wix/windows-tensorflow.wixproj
  wix/windows-tensorflow.wxs
Due: none

Add tensorflow MSM to installer
  wix/windows-installer.wixproj
  wix/windows-installer.wxs
Due: none

Windows: avoid `CURL_DIR` to repair the build
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: fallback to old curl handling
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/linux-sdk.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

DNM: trace foundation configuration
  .ci/templates/android-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml

android: force configuration
  .ci/templates/android-sdk.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml
