Repository compnerd/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/android-sdk-5.2.yml, .ci/android-sdk-deb.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/curl.yml, .ci/icu-deb.yml, .ci/icu.yml, .ci/libxml2.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/linux-sdk-deb.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/tensorflow.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64-deb.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/ubuntu-18.04-google.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.3.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-deb.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml, .ci/zlib.yml

.ci/android-sdk-5.2.yml:
  schedules:
  - cron: 0 23 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (11:00 PM) build
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 36
      arch: armv7
      host: arm
  ...

.ci/android-sdk-deb.yml:
  jobs:
  - job: android_aarch64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/sdk/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/android-sdk.yml:
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 7
      arch: armv7
      host: arm
      triple: armv7-unknown-linux-androideabi
  - template: templates/android-sdk.yml
    parameters:
  ...

.ci/azure-pipelines-aws-agent.yml:
  name: toolchain
  jobs:
  - job: windows_x64
    pool: Default
    variables:
      arch: x86_64
      host: x64
      platform: windows
      triple: x86_64-unknown-windows-msvc
      install.directory: $(Build.StagingDirectory)/Library/Developer/Toolchains/unknown-Asserts-development.xctoolchain/usr
  ...

.ci/curl.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/curl.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/icu-deb.yml:
  jobs:
  - job: linux_x64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/icu/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/icu.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/icu.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/libxml2.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - trunk
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/libxml2.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      arch: x86_64
      host: x64
      platform: linux

CI: add swift-crypto to the checkout
  .ci/macOS.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-packaging.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-swift-5.4.yml
  .ci/vs2019.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/ubuntu-18.04-google.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.3.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: avoid full clones for the devtools and SDK steps
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: add swift-crypto repository
  .ci/vs2019-google.yml
Due: none

CI: build swift-crypto as part of devtools
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: avoid cloning repositories for packaging
  .ci/templates/devtools-msi.yml
  .ci/templates/icu-msi.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/toolchain-msi.yml
Due: none

WIX: package swift-crypto for SPM
  .ci/templates/devtools-msi.yml
  .ci/vs2019-swift-5.4.yml
  wix/windows-devtools.wixproj
  wix/windows-devtools.wxs
Due: none

CI: correct the installer bundle package path
  .ci/templates/swift-installer-bundle.yml
Due: none

Enable Developer Mode
  wix/windows-devtools.wxs
Due: none

WIX: correct debug info package for developer tools
  wix/windows-devtools.wxs
Due: none

CI: remove tensorflow/swift-apis
  .ci/macOS.yml
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/macos-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-packaging.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-swift-5.4.yml
  .ci/vs2019.yml
  default.xml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/ubuntu-18.04-google.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.3.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: set default branches for late branched 5.4 projects
  .ci/vs2019-swift-5.4.yml
Due: none

CI: use older cmake (3.19.7)
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/ubuntu-18.04-google.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.3.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: install cmake on Windows agent only
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/ubuntu-18.04-google.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.3.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: install cmake only on hosted agents
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/ubuntu-18.04-google.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.3.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Create swift-format.yml
  .github/workflows/swift-format.yml
Due: none

Update swift-format.yml
  .github/workflows/swift-format.yml
Due: none

swift-atomics: try to repair the configure step
  swift-atomcis.yml
Due: none

Update swift-atomcis.yml
  swift-atomcis.yml
Due: none

Path conditions:
  .ci/android-sdk-5.2.yml: any of: .ci/android-sdk-5.2.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/android-sdk-deb.yml: any of: .ci/android-sdk-deb.yml
  .ci/android-sdk.yml: any of: .ci/android-sdk.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/azure-pipelines-aws-agent.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/curl.yml: any of: .ci/curl.yml, .ci/templates/curl.yml
  .ci/icu-deb.yml: any of: .ci/icu-deb.yml
  .ci/icu.yml: any of: .ci/icu.yml, .ci/templates/icu.yml
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools-deb.yml: any of: .ci/linux-devtools-deb.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk-deb.yml: any of: .ci/linux-sdk-deb.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-darwin-x64.yml: any of: .ci/toolchain-darwin-x64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-linux-x64-deb.yml: any of: .ci/toolchain-linux-x64-deb.yml
  .ci/toolchain-linux-x64.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/toolchain-vs2017-amd64-5.2.yml: any of: .ci/toolchain-vs2017-amd64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2017-amd64-facebook.yml: any of: .ci/toolchain-vs2017-amd64-facebook.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64.yml: any of: .ci/toolchain-vs2019-amd64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64-5.2.yml: any of: .ci/toolchain-vs2019-arm64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64.yml: any of: .ci/toolchain-vs2019-arm64.yml, .ci/templates/toolchain.yml
  .ci/ubuntu-18.04-google.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/vs2017-facebook.yml: any of: .ci/vs2017-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2017.yml: any of: .ci/vs2017.yml, .ci/templates/toolchain.yml
  .ci/vs2019-facebook.yml: any of: .ci/vs2019-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.3.yml: any of: .ci/vs2019-swift-5.3.yml, .ci/templates/toolchain.yml
  .ci/vs2019-tensorflow.yml: any of: .ci/vs2019-tensorflow.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk-5.2.yml: any of: .ci/windows-sdk-5.2.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-deb.yml: any of: .ci/windows-sdk-deb.yml
  .ci/windows-sdk-facebook-vs2017.yml: any of: .ci/windows-sdk-facebook-vs2017.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2019.yml: any of: .ci/windows-sdk-facebook-vs2019.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml, cmake/caches/Windows-aarch64-clang.cmake, cmake/caches/Windows-aarch64-swift-flags.cmake, cmake/caches/Windows-armv7-clang.cmake, cmake/caches/Windows-armv7-swift-flags.cmake, cmake/caches/Windows-i686-clang.cmake, cmake/caches/Windows-i686-swift-flags.cmake, cmake/caches/Windows-x86_64-clang.cmake, cmake/caches/Windows-x86_64-swift-flags.cmake
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml
