Repository compnerd/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/android-sdk-5.2.yml, .ci/android-sdk-deb.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/curl.yml, .ci/icu-deb.yml, .ci/icu.yml, .ci/libxml2.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/linux-sdk-deb.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/tensorflow.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64-deb.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-deb.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/android-sdk-5.2.yml: any of: .ci/android-sdk-5.2.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/android-sdk-deb.yml: any of: .ci/android-sdk-deb.yml
  .ci/android-sdk.yml: any of: .ci/android-sdk.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/azure-pipelines-aws-agent.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/curl.yml: any of: .ci/curl.yml, .ci/templates/curl.yml
  .ci/icu-deb.yml: any of: .ci/icu-deb.yml
  .ci/icu.yml: any of: .ci/icu.yml, .ci/templates/icu.yml
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools-deb.yml: any of: .ci/linux-devtools-deb.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk-deb.yml: any of: .ci/linux-sdk-deb.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-darwin-x64.yml: any of: .ci/toolchain-darwin-x64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-linux-x64-deb.yml: any of: .ci/toolchain-linux-x64-deb.yml
  .ci/toolchain-linux-x64.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/toolchain-vs2017-amd64-5.2.yml: any of: .ci/toolchain-vs2017-amd64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2017-amd64-facebook.yml: any of: .ci/toolchain-vs2017-amd64-facebook.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64.yml: any of: .ci/toolchain-vs2019-amd64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64-5.2.yml: any of: .ci/toolchain-vs2019-arm64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64.yml: any of: .ci/toolchain-vs2019-arm64.yml, .ci/templates/toolchain.yml
  .ci/vs2017-facebook.yml: any of: .ci/vs2017-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-facebook.yml: any of: .ci/vs2019-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk-5.2.yml: any of: .ci/windows-sdk-5.2.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-deb.yml: any of: .ci/windows-sdk-deb.yml
  .ci/windows-sdk-facebook-vs2017.yml: any of: .ci/windows-sdk-facebook-vs2017.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2019.yml: any of: .ci/windows-sdk-facebook-vs2019.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml, cmake/caches/Windows-aarch64-clang.cmake, cmake/caches/Windows-aarch64-swift-flags.cmake, cmake/caches/Windows-armv7-clang.cmake, cmake/caches/Windows-armv7-swift-flags.cmake, cmake/caches/Windows-i686-clang.cmake, cmake/caches/Windows-i686-swift-flags.cmake, cmake/caches/Windows-x86_64-clang.cmake, cmake/caches/Windows-x86_64-swift-flags.cmake
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

Update swift-installer-bundle.yml
  .ci/templates/swift-installer-bundle.yml
Due: none

CI: use python 3.7 explicitly
  .ci/templates/toolchain.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

Switch Swift 5.2/5.3 builds back to Python 2
  .ci/templates/android-sdk.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: attempt to package devtools into a MSI
  .ci/templates/devtools-msi.yml
  .ci/vs2019-google.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

Fix parameter problem
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: remove devtools stage from 5.3 builds
  .ci/vs2019-swift-5.3.yml
Due: none

CI: package devtools in tensorflow builds
  .ci/templates/swift-installer-bundle.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
  wix/windows-bundle.wixproj
  wix/windows-bundle.wxs
Due: .ci/vs2019.yml

Update vs2019-tensorflow.yml
  .ci/vs2019-tensorflow.yml
Due: none

WIX: include Yams in devtools MSI
  wix/windows-devtools.wxs
Due: none

CI: add a couple of plists
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Update windows-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

WiX: add `SDKROOT`, `DEVELOPER_DIR` environment variables
  wix/windows-sdk.wxs
Due: none

WIX: add plists to the installer
  wix/windows-sdk.wxs
Due: none

Enable compiler-rt
  .ci/templates/toolchain.yml
  cmake/caches/org.compnerd.dt.cmake
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

build: add a workaround symlink for 5.3 builds
  .ci/templates/windows-sdk.yml
  .ci/vs2019-swift-5.3.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

build: Fix parameter
  .ci/templates/toolchain.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

WIX: add files for new swiftmodule layout
  .ci/templates/sdk-msi.yml
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
Due: none

Update swift-log.yml
  swift-log.yml
Due: none

WIX: tweak installed image layout
  wix/windows-sdk.wxs
Due: none

build: further tweak layout
  wix/windows-sdk.wxs
Due: none

WIX: duplicate CF headers for flag handling
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
Due: none

WIX: autogenerate component guids at compile time
  wix/windows-devtools.wixproj
  wix/windows-sdk.wixproj
  wix/windows-toolchain.wixproj
Due: .ci/toolchain-vs2019-amd64-msi.yml

WIX: exclude CF headers for newer toolchains
  .ci/templates/sdk-msi.yml
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
Due: none

CI: add IndexStoreDB to devtools
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update vs2019.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

Add documentation for downloading the latest builds
  README.md
Due: none

Fix bad markdown syntax
  README.md
Due: none

Fix typos
  README.md
Due: none

WIX: package IndexStoreDB in devtools MSI
  wix/windows-devtools.wxs
Due: none

CI: checkout SourceKit-LSP
  .ci/vs2017.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
Due: .ci/vs2019-facebook.yml

CI: add SourceKit-LSP to devtools build on Windows
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

WIX: package SourceKit-LSP into the devtools MSI
  wix/windows-devtools.wxs
Due: none

CI: build VSCode SourceKit-LSP plugin
  .ci/templates/windows-devtools.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml, .ci/windows-devtools.yml

WIX: allow user to customize install location
  wix/windows-bundle.wxs
  wix/windows-devtools.wxs
  wix/windows-icu.wxs
  wix/windows-runtime.wxs
  wix/windows-sdk.wxs
  wix/windows-tensorflow.wxs
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml
