Repository compnerd/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/android-sdk-5.2.yml, .ci/android-sdk-deb.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/curl.yml, .ci/icu-deb.yml, .ci/icu.yml, .ci/libxml2.yml, .ci/linux-devtools-deb.yml, .ci/linux-devtools.yml, .ci/linux-sdk-deb.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/tensorflow.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64-deb.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-deb.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml, .ci/zlib.yml

.ci/android-sdk-5.2.yml:
  schedules:
  - cron: 0 23 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (11:00 PM) build
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 36
      arch: armv7
      host: arm
  ...

.ci/android-sdk-deb.yml:
  jobs:
  - job: android_aarch64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/sdk/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/android-sdk.yml:
  jobs:
  - template: templates/android-sdk.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      toolchain: 7
      arch: armv7
      host: arm
      triple: armv7-unknown-linux-androideabi
  - template: templates/android-sdk.yml
    parameters:
  ...

.ci/azure-pipelines-aws-agent.yml:
  name: toolchain
  jobs:
  - job: windows_x64
    pool: Default
    variables:
      arch: x86_64
      host: x64
      platform: windows
      triple: x86_64-unknown-windows-msvc
      install.directory: $(Build.StagingDirectory)/Library/Developer/Toolchains/unknown-Asserts-development.xctoolchain/usr
  ...

.ci/curl.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/curl.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/icu-deb.yml:
  jobs:
  - job: linux_x64
    pool:
      vmImage: ubuntu-18.04
    steps:
    - script: 'mkdir -p $(Build.StagingDirectory)/icu/Library
  
        '
      displayName: setup
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: specific
        project: 3133d6ab-80a8-4996-ac4f-03df25cd3224
  ...

.ci/icu.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/icu.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/libxml2.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/libxml2.yml
    parameters:
      visualstudio: 2019/enterprise
      pool:
        vmimage: windows-2019
      arch: armv7
      host: arm
      platform: windows
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      arch: x86_64
      host: x64
      platform: linux

TensorFlow: update rules for TensorFlow 2.2.0-rc1
  .ci/macOS-tensorflow.yml
  .ci/templates/macos-sdk.yml
  .ci/templates/windows-sdk.yml
  .ci/templates/xctoolchain.yml
  wix/windows-sdk.wxs
  wix/windows-tensorflow.wixproj
  wix/windows-tensorflow.wxs
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

tensorflow: setup a build of x10
  .ci/tensorflow.yml
Due: .ci/tensorflow.yml

caches: enable clangd builds
  cmake/caches/org.compnerd.dt.cmake
Due: .ci/toolchain-linux-x64.yml

curl: clean up some readability
  .ci/curl.yml
  .ci/templates/curl.yml
Due: .ci/curl.yml

Set up (swift-log) CI with Azure Pipelines
  swift-log.yml
Due: none

Update swift-log.yml
  swift-log.yml
Due: none

Set up (swift-argument-parser) CI with Azure Pipelines
  swift-argument-parser.yml
Due: none

Update swift-argument-parser.yml
  swift-argument-parser.yml
Due: none

TensorFlow: switch to X10
  .ci/templates/macos-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

TensorFlow: attempt to repair the swift-apis build
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

WIX: install X10 files from tensorflow/swift-apis
  wix/windows-runtime.wxs
  wix/windows-sdk.wxs
  wix/windows-tensorflow.wxs
Due: none

macOS: fix the X10 parameters
  .ci/templates/macos-sdk.yml
Due: none

SDK: attempt to repair the TensorFlow SDK
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Update ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-flowkey.yml
Due: none

CI: support multi-commit patches for CI
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

VS2019: add additional variables for Android SDK builds
  .ci/vs2019.yml
Due: .ci/vs2019.yml

Adding a more details to the getting starting doc
  docs/GettingStartedWindows.md
Due: none

Fixing spelling in getting started doc (Windows)
  docs/GettingStartedWindows.md
Due: none

Set up CI with Azure Pipelines
  swift-benchmark.yml
Due: none

Update swift-benchmark.yml for Azure Pipelines
  swift-benchmark.yml
Due: none

swift-argument-parser: support installation
  swift-argument-parser.yml
Due: none

Typo
  README.md
Due: none

ICU: try to link against pthreads explicitly
  cmake/ICU/CMakeLists.txt
Due: none

CI: switch to variable for ICU version
  .ci/templates/icu-deb.yml
Due: none

Clarify the purpose of swift-build in README.md
  README.md
Due: none

Refine the first paragraph in README.md
  README.md
Due: none

CI: externalize ICU configuration
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/templates/android-sdk.yml
  .ci/templates/icu-deb.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/macos-sdk.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-sdk.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-google.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/android-sdk-5.2.yml, .ci/android-sdk.yml, .ci/azure-pipelines-aws-agent.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: checkout Yams
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/icu-msi.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/tensorflow-msi.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain-msi.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-google.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

CI: add Yams to Linux devtools
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

CI: checkout swift-driver
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/icu-msi.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/tensorflow-msi.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain-msi.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-google.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/azure-pipelines-aws-agent.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

devtools: add SwiftDriver to the build for s-p-m
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

cmake: quote path to android sysroot
  cmake/toolchains/android.toolchain.cmake
Due: none

CI: attempt to update ICU to to 67.1
  .ci/icu.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-google.yml
  .ci/vs2017-facebook.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
  cmake/ICU/CMakeLists.txt
Due: .ci/icu.yml, .ci/vs2017-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml

ICU: backport patch for building on Android
  .ci/templates/icu.yml
Due: .ci/icu.yml

CI: checkout sources without re-structuring the layout
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/icu-msi.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/tensorflow-msi.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain-msi.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  cmake/caches/org.compnerd.dt.cmake
Due: .ci/azure-pipelines-aws-agent.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/toolchain-darwin-x64.yml, .ci/toolchain-linux-x64.yml, .ci/toolchain-vs2017-amd64-5.2.yml, .ci/toolchain-vs2017-amd64-facebook.yml, .ci/toolchain-vs2019-amd64.yml, .ci/toolchain-vs2019-arm64-5.2.yml, .ci/toolchain-vs2019-arm64.yml, .ci/vs2017-facebook.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk-5.2.yml, .ci/windows-sdk-facebook-vs2017.yml, .ci/windows-sdk-facebook-vs2019.yml, .ci/windows-sdk.yml

Path conditions:
  .ci/android-sdk-5.2.yml: any of: .ci/android-sdk-5.2.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/android-sdk-deb.yml: any of: .ci/android-sdk-deb.yml
  .ci/android-sdk.yml: any of: .ci/android-sdk.yml, .ci/templates/android-sdk.yml, cmake/caches/android-aarch64.cmake, cmake/caches/android-aarch64-swift-flags.cmake, cmake/caches/android-armv7.cmake, cmake/caches/android-armv7-swift-flags.cmake, cmake/caches/android-i686.cmake, cmake/caches/android-i686-swift-flags.cmake, cmake/caches/android-x86_64.cmake, cmake/caches/android-x86_64-swift-flags.cmake
  .ci/azure-pipelines-aws-agent.yml: any of: .ci/azure-pipelines-aws-agent.yml, .ci/templates/toolchain.yml
  .ci/curl.yml: any of: .ci/curl.yml, .ci/templates/curl.yml
  .ci/icu-deb.yml: any of: .ci/icu-deb.yml
  .ci/icu.yml: any of: .ci/icu.yml, .ci/templates/icu.yml
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools-deb.yml: any of: .ci/linux-devtools-deb.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk-deb.yml: any of: .ci/linux-sdk-deb.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-darwin-x64.yml: any of: .ci/toolchain-darwin-x64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-linux-x64-deb.yml: any of: .ci/toolchain-linux-x64-deb.yml
  .ci/toolchain-linux-x64.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/toolchain-vs2017-amd64-5.2.yml: any of: .ci/toolchain-vs2017-amd64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2017-amd64-facebook.yml: any of: .ci/toolchain-vs2017-amd64-facebook.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64.yml: any of: .ci/toolchain-vs2019-amd64.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64-5.2.yml: any of: .ci/toolchain-vs2019-arm64-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-arm64.yml: any of: .ci/toolchain-vs2019-arm64.yml, .ci/templates/toolchain.yml
  .ci/vs2017-facebook.yml: any of: .ci/vs2017-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk-5.2.yml: any of: .ci/windows-sdk-5.2.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-deb.yml: any of: .ci/windows-sdk-deb.yml
  .ci/windows-sdk-facebook-vs2017.yml: any of: .ci/windows-sdk-facebook-vs2017.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk-facebook-vs2019.yml: any of: .ci/windows-sdk-facebook-vs2019.yml, .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml, cmake/caches/Windows-aarch64-clang.cmake, cmake/caches/Windows-aarch64-swift-flags.cmake, cmake/caches/Windows-armv7-clang.cmake, cmake/caches/Windows-armv7-swift-flags.cmake, cmake/caches/Windows-i686-clang.cmake, cmake/caches/Windows-i686-swift-flags.cmake, cmake/caches/Windows-x86_64-clang.cmake, cmake/caches/Windows-x86_64-swift-flags.cmake
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml
